target
Cargo.lock
/assets

.idea
/target-bin/


/target
/state
/log
/dist_ec2
/dist
/dist_windows
/dist_linux

*.log


crates/*/target
**/*.rs.bk
Cargo.lock
.cargo/config
.cargo/config.toml
/.idea
/benches/target
